<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="morph_i">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import morph_i urdf file -->
    <xacro:include filename="$(find mm_description)/urdf/robot/morph_i.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="$(find mm_moveit_config)/config/morph_i/morph_i.ros2_control.xacro" />
    <xacro:morph_i_ros2_control name="base_ros2_control" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
