absl-py==2.3.1
addict==2.4.0
ansitable==0.11.4
asttokens==3.0.1
attrs==25.4.0
beautifulsoup4==4.14.3
blinker==1.9.0
casadi==3.7.2
certifi==2025.11.12
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.4
clarabel==0.11.1
click==8.3.1
cloudpickle==3.1.2
cmeel==0.57.3
cmeel-assimp==6.0.2
cmeel-boost==1.89.0
cmeel-console-bridge==1.0.2.3
cmeel-octomap==1.10.0
cmeel-qhull==8.0.2.1
cmeel-tinyxml2==10.0.0
cmeel-urdfdom==4.0.1
cmeel-zlib==1.3.1
coal==3.0.2
colorama==0.4.6
colored==2.3.1
comm==0.2.3
ConfigArgParse==1.7.1
contourpy==1.3.2
csnlp==1.6.8
cvxopt==1.3.2
cvxpy==1.7.5
cycler==0.12.1
Cython==3.2.4
daqp==0.7.2
dash==3.3.0
decorator==5.2.1
distlib==0.4.0
distro==1.9.0
eigenpy==3.12.0
etils==1.13.0
evdev==1.9.2
exceptiongroup==1.3.1
executing==2.2.1
faiss-cpu==1.13.2
Farama-Notifications==0.0.4
fastjsonschema==2.21.2
filelock==3.20.0
Flask==3.1.2
fonttools==4.61.0
fsspec==2025.10.0
gdown==5.2.0
glcontext==3.0.0
glfw==2.10.0
glm==0.4.4
gymnasium==1.2.3
identify==2.6.15
idna==3.11
ImageIO==2.37.2
imgui==2.0.0
importlib_metadata==8.7.1
importlib_resources==6.5.2
ipython==8.37.0
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
kiwisolver==1.4.9
lazy_loader==0.4
libcoal==3.0.2
libpinocchio==3.8.0
llvmlite==0.46.0
loop-rate-limiters==1.2.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mink==1.0.0
moderngl==5.12.0
mpcrl==1.4.1
mpmath==1.3.0
mujoco==3.3.7
mujoco-python-viewer==0.1.4
multipledispatch==1.0.0
narwhals==2.14.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nodeenv==1.9.1
numba==0.63.1
numpy==2.2.6
ompl==1.7.0
open3d==0.19.0
opencv-python==4.12.0.88
osqp==1.0.5
packaging==25.0
pandas==2.3.3
parso==0.8.5
pathfinding3d==0.7.2
pexpect==4.9.0
pgraph-python==0.6.3
pillow==12.0.0
pin==3.8.0
pinocchio==0.4.3
platformdirs==4.5.1
plotly==6.5.0
plyfile==1.1.3
pooch==1.8.2
pre_commit==4.5.0
progress==1.6.1
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.23
Pygments==2.19.2
pynput==1.8.1
pyoctomap==1.1.2
PyOpenGL==3.1.10
pyparsing==3.2.5
pyquaternion==0.9.9
pyrr==0.10.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-motion-planning==2.0.dev2
python-xlib==0.33
pytz==2025.2
pyvista==0.46.4
pyvista-imgui==0.5.0
pyvistaqt==0.11.3
PyYAML==6.0.3
pyzmq==27.1.0
qpsolvers==4.8.2
QtPy==2.4.3
referencing==0.37.0
requests==2.32.5
retrying==1.4.2
roboticstoolbox-python==1.1.1
rpds-py==0.30.0
rtb-data==1.0.1
scikit-build==0.18.1
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
scooby==0.11.0
scs==3.2.9
simple-3dviz==0.7.0
six==1.17.0
soupsieve==2.8.1
spatialgeometry==1.1.0
spatialmath-python==1.1.15
stack-data==0.6.3
swift-sim==1.1.0
sympy==1.14.0
threadpoolctl==3.6.0
tifffile==2025.5.10
tomli==2.3.0
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.3
ur_rtde==1.6.2
urllib3==2.6.2
virtualenv==20.35.4
voxelmap==5.1.1
vtk==9.5.2
wcwidth==0.2.14
websockets==15.0.1
Werkzeug==3.1.4
widgetsnbextension==4.0.15
zipp==3.23.0
